*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: #f4f7fb;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    padding:40px 20px;
}

.container{
    width:100%;
    max-width:900px;
    background:#ffffff;
    padding:30px;
    border-radius:18px;
    box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

h1{
    text-align:center;
    margin-bottom:25px;
    color:#1f2937;
    font-size:2rem;
}

input,
select{
    width:100%;
    padding:14px;
    margin-bottom:15px;
    border:1px solid #d1d5db;
    border-radius:10px;
    font-size:16px;
    outline:none;
    transition:0.3s;
}

input:focus,
select:focus{
    border-color:#4f46e5;
    box-shadow:0 0 0 3px rgba(79,70,229,0.15);
}

button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:10px;
    background:#4f46e5;
    color:white;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    transform:translateY(-2px);
    background:#4338ca;
}

button:active{
    transform:translateY(0);
}

#output{
    margin-top:25px;
    padding:25px;
    background:#fafafa;
    border:1px solid #e5e7eb;
    border-radius:14px;
    min-height:150px;
    line-height:1.8;
    color:#374151;
    overflow-x:auto;
}

/* Markdown Styling */

#output h1{
    text-align:left;
    font-size:2rem;
    margin-bottom:15px;
    color:#111827;
}

#output h2{
    margin-top:25px;
    margin-bottom:10px;
    color:#1f2937;
}

#output h3{
    margin-top:20px;
    margin-bottom:10px;
    color:#374151;
}

#output p{
    margin-bottom:12px;
}

#output ul,
#output ol{
    padding-left:25px;
    margin-bottom:15px;
}

#output li{
    margin-bottom:8px;
}

#output strong{
    color:#111827;
}

#output code{
    background: #fffdfd;
    padding:3px 6px;
    border-radius:5px;
}

#output hr{
    margin:20px 0;
    border:none;
    border-top:1px solid #d1d5db;
}

@media(max-width:768px){

    .container{
        padding:20px;
    }

    h1{
        font-size:1.6rem;
    }

    button{
        font-size:15px;
    }
}
/* DARK MODE */

body.dark{
    background:#111827;
}

body.dark .container{
    background:#1f2937;
    color:white;
}

body.dark h1{
    color:white;
}

body.dark input,
body.dark select{
    background:#374151;
    color:white;
    border:1px solid #4b5563;
}

body.dark #output{
    background:#111827;
    color:white;
    border:1px solid #374151;
}

body.dark #output h1,
body.dark #output h2,
body.dark #output h3,
body.dark #output strong{
    color:white;
}